<%- include header %>
<div class="wrapper-left_out">
  <div class="wrapper-left content-anim">
    <ul class="nav ">
      <li><a href="../">首页</a></li>
      <i class="fa fa-angle-right"></i>
      <li><a href="javascript:;" class="current">留言</a></li>
    </ul>
  </div>
</div>
<div class="align-center about_page">
  <section>
    <h2 class="about_title">关于我 <i> About Me</i></h2>
    <div><img src="/images/mycolor.jpg" alt="Doris'pic"></div>
    <p>Hello,I'm <i>Doris</i>!本科毕业于 <i>东华大学</i>,物流管理专业.虽是一个文科性质的专业,大学前两年却学了很多计算机相关课程,
    计算机网络与应用技术,网页制作技术,操作系统原理,面向对象程序设计,VB,C,数据结构...在华润万家大Ole'工作了一年后受程序猿老公的影响,
    开始用Mac,Linux命令行,Vim,才知道电脑还可以这样好玩~接着开始了前端的漫漫自学路.平常喜爱烹饪,也追剧,喜欢阅读,尤喜欢三毛的文章.喜欢热闹,聚会.
      欢迎各界朋友来交流~
    </p>
  </section>
  <section>
    <h2 class="about_title">社交信息 <i>Social Links</i></h2>
    <ul>
      <li>Github: <a href="https://github.com/Doooris">@Doooris</a></li>
      <li>Weibo: <a href="http://weibo.com/2731473063/profile">Sina</a></li>
      <li>E-mail: <a href="mailto:hxpt2031@gmail.com">hxpt2031@gmail.com</a></li>
      <li>个人网站:<a href="http://www.idoris.me">Doris'blog</a></li>
    </ul>
  </section>
  <section id="leave_message">
    <h2 class="about_title">留言 <i>Leave Message</i></h2>
  <!-- 留言评论框 start -->
  <div class="ds-thread" data-thread-key="1234" data-title="website_leave_message" data-url="http://www.idoris.me/about"></div>
  <!-- 留言评论框 end -->
  </section>


</div>











</div>
<div class="copyright_picPage">
  <hr>
  <p>本网站由<a href="http://www.idoris.me"><strong>Doris</strong></a>纯手工打造 | <a href="http://www.idoris.me">关于 </a>| <a href="http://www.idoris.me/article">联系方式</a></p>
</div>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
  var duoshuoQuery = {short_name:"idoris"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
    || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
<!-- 多说公共JS代码 end -->
</body>
</html>
