<%- include header %>
<div class="wrapper-left_out">
  <div class="wrapper-left content-anim">
    <ul class="nav ">
      <li><a href="../">首页</a></li>
      <i class="fa fa-angle-right"></i>
      <li><a href="javascript:;" class="current">关于</a></li>
    </ul>
  </div>
</div>
<div class="align-center about_page">
  <section id="about_me">
    <h2 class="about_title">关于我 <i> About Me</i></h2>
    <div><img src="http://olxm3tby9.bkt.clouddn.com/mycolor.jpg" alt="Doris'pic"></div>
    <p>Hello,I'm <i>Doris</i>!本科毕业于 <i>东华大学</i>,物流管理专业.虽是一个文科性质的专业,大学前两年却学了很多计算机相关课程,
    计算机网络与应用技术,网页制作技术,操作系统原理,面向对象程序设计,VB,C,数据结构...一年前开始用Mac,Linux命令行,Vim,才知道电脑还可以这样好玩~接着开始了前端的漫漫自学路.平常喜爱烹饪,也追剧,喜欢阅读,尤喜欢三毛的文章.喜欢热闹,聚会.
      欢迎各界朋友来交流~
    </p>
  </section>
  <section id="social_links">
    <h2 class="about_title">社交信息 <i>Social Links</i></h2>
    <div><img src="http://olxm3tby9.bkt.clouddn.com/social_links.jpg" alt="links'pic"></div>
    <ul>
      <li>E-mail: <a href="mailto:hxpt2031@gmail.com">hxpt2031@gmail.com</a></li>
      <li>Github: <a href="https://github.com/Doooris">@Doooris</a></li>
      <li>Sina Weibo: <a href="http://weibo.com/2731473063/profile">xiaxia2031</a></li>
      <li>个人网站:<a href="http://www.idoris.me">Doris'blog</a></li>
    </ul>
  </section>
  <section id="links">
    <h2>外链<i> recommended links</i></h2>
    <ul>
      <li><span>记录下这些牛人的链接,一是方便自己浏览,二是向大家推荐一些前端技术大牛.</span></li>
      <li><a href="http://www.ipengtao.com">Sitin</a><span> | 知道创宇牛逼Python攻城狮!</span></li>
      <li><a href="http://www.zhangxinxu.com/">张鑫旭</a><span> | 细致、深入得令人叹服</span></li>
      <li><a href="http://www.ruanyifeng.com/">阮一峰</a><span> | 线上开源ES6教程</span></li>
      <li><a href="http://www.liaoxuefeng.com/">廖雪峰</a><span> | 带有线上测试的javascript教程</span></li>
      <li><a href="https://juejin.im/">掘金</a><span> | 热爱分享和学习&教是更好的学</span></li>
      <li><a href="https://cn.vuejs.org/">Vue中文官网</a><span> | 一个热的发烫的前端框架，简单易用，功能强大</span></li>
    </ul>
  </section>
</div>
</div>
<div class="copyright_picPage">
  <hr>
  <p>Copyright© 2017 idoris.me All Rights Reserved | <a href="http://www.miitbeian.gov.cn/">蜀ICP备14006373号-3</a></p>
</div>
</body>
</html>
