<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src="//cdn.bootcss.com/jquery/1.12.0/jquery.js"></script>
  <script>
    $(function() {
      var $radios = $('.category input:radio');
      var $textname = $('input#categoryname');
      var $textnameE = $('input#categorynameE');
      $('.btn-plus').click(function(){
        $radios.attr("checked",false);
        $('.box-category_add').fadeIn();
      })
      $('.btn-cancle').click(function(){
        $textname.val("");
        $textnameE.val("");
        $('.box-category_add').fadeOut();
      })
      // 发布
      $radios.click(function(){
        $textname.val("");
        $textnameE.val("");
      })
      $textname.change(function(){
        $radios.attr("checked",false);
      })

      $('.btn-publish').on('click', function() {
        var categoryname = '';
        var categorynameE = '';
        if($('.category input:radio:checked').val()){
          categoryname = $('.category input:radio:checked').val();
          categorynameE = $('.category input:radio:checked').attr('id');
        }else{
          categoryname = $textname.val().trim();
          categorynameE = $textnameE.val().trim();
        }
        var blogContent = $('.textarea-add').val();
        var blogTitle = $("#title").val().trim();
        var blogAuthor = $("#author").val().trim();
        var blogTags = $("#tags").val().trim();
        var blogCategory = categoryname +"," +categorynameE;
        var blogPv = 0;
//        alert(blogCategory);


        if (!blogTitle) {
          alert('请添加上标题!');
          return;
        }
        if (!blogAuthor) {
          alert('请输入作者!');
          return;
        }
        if (!blogContent) {
          alert('内容不能为空!');
          return;
        }
        if(!blogTags){
          alert('请添加至少一条标签!');
          return;
        }
        if(!categoryname){
          alert('请添加文章分类!');
          return;
        }
        if($textname.val() && !$textnameE.val()){
          alert("请输入分类英文!");
          return;
        }

        var date = new Date(),
            yy = date.getFullYear(),
            MM = date.getMonth() + 1,
            dd = date.getDate(),
            hh = date.getHours(),
            mm = date.getMinutes(),
            ss = date.getSeconds();
        var postData = {
          'title': blogTitle,
          'author': blogAuthor,
          'content': blogContent,
          'date': yy + '-' + MM + '-' + dd + ' ' + hh + ':' + mm + ':' + ss,
          'tags': blogTags,
          'category': blogCategory,
          'pv': blogPv
        };
//        console.log(blogCategory);
        $.ajax({
          url: '/admin',
          type: 'post',
          data: postData,
          success: function(data){
            alert('发布成功！');
            location.href = '/admin';
          },
          error: function(data){
            alert('发布失败！');
            location.href = 'error';
          }
        });
      });
      $('.delete').on('click',function(){
        var deleteId = $(this).attr('data-id');
        console.log(deleteId);
        var postData = {
            'deleteId': deleteId
        };
        if(confirm('您确定要删除这条博客吗?')){
          $.ajax({
            url: '/admin/delete',
            type: 'post',
            data: postData,
            success: function(data){
              console.log(postData);
              location.href = '/admin';
            },
            error: function(data){
              location.href = 'error';
            }
          });
        }
      });
      $('.update').on('click',function(){
        var oldTitle =$(this).attr('data-title');
        var oldAuthor = $(this).attr('data-author');
        var oldId = $(this).attr('data-id');
        var oldTags = $(this).attr('data-tags');
        location.href = '/admin/update?Title='+oldTitle+'&Author='+oldAuthor+'&Id='+oldId+'&Tags='+oldTags;
      });
    });
  </script>
</head>

<body>

<h2 class=""><%= name %></h2>
<div class="blog-add">
  <label for="title">标题:<input type="text" id="title"></label><br/>
  <label for="author">作者:<input type="text" id="author"></label><br/>
  <label for="author">标签:<input type="text" id="tags"></label>请以“ ”作为分隔符<br/>
  <div class="category">
    文章分类:
    <% for(var x = 0; x < CATEGORYNAME.length; x++) { %>
      <label for="<%= CATEGORYE[x] %>"><input name='cate-choice' type='radio' class='radio'  id="<%= CATEGORYE[x] %>" value="<%= CATEGORYNAME[x] %>"><%= CATEGORYNAME[x] %></label>
    <% } %>
    <button class="btn btn-plus"><i class="fa fa-plus"></i></button>
    <div class="box-category_add">
      <label for="categoryname">新添加分类(中):  <input type="text" id="categoryname"></label>
      <label for="categorynameE">(英):  <input type="text" id="categorynameE"></label>
      <button class="btn btn-cancle">取消添加</button>
    </div>
  </div>
  <div class="blog-textarea">
    <textarea name="" class="textarea-add" cols="30" rows="10"></textarea>
  </div>
  <p class="blog-action">
    <a class="btn-publish" href="javascript:;">发布</a>
  </p>
</div>

<div class="blog">
  <ul class="blog-list">
    <% for(var i=0; i < content.length; i++){ %>
    <li class="blog-item">
      <h3 class="title"><%= content[i].title %></h3>
      <p class="author">作者: <%= content[i].author %></p>
      <span class="tags">标签:
        <%= content[i].tags %>
      </span>
      <p>发布在: <%= content[i].category[0] %></p>
      <p>阅读次数: <%= content[i].pv %></p>
      <p class="blog-content"><%- content[i].content %></p>
      <p class="blog-extra">
        <span class="date"><%= content[i].date %></span>
        <a href="javascript:;" class="delete" data-id="<%= content[i]._id %>">删除</a>
        <a href="javascript:;" class="update" data-title="<%= content[i].title %>" data-author="<%= content[i].author %>" data-id="<%=content[i]._id %>" data-tags="<%= content[i].tags %>">更新</a>
      </p>
    </li>
    <% } %>
  </ul>
</div>

</body>

</html>