<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
</head>
<body>

<script>
  $(function(){
    $('.btn-update').on('click',function(){
      var updateTitle = $('#title').val().trim();
      var updateAuthor = $('#author').val().trim();
      var updateTags = $('#tags').val().trim();
      var updateContent = $('.textarea-add').val().trim().replace(/\n/g,'<br/>');
      var updateId = $('.id').val();
      if(!updateTitle){
        alert('请添加上标题!');
        return;
      }
      if (!updateAuthor) {
        alert('请输入作者!');
        return;
      }
      if (!updateContent) {
        alert('内容不能为空!');
        return;
      }
      if(!updateTags){
        alert('请添加至少一条标签!');
        return;
      }
      var postData= {
        'updateId':updateId,
        'updateTitle': updateTitle,
        'updateContent':updateContent,
        'updateAuthor':updateAuthor,
        'updateTags':updateTags
      };
      $.ajax({
        url: '/admin/update',
        type: 'post',
        data: postData,
        success: function(data){
          info = JSON.parse(data.info);
          alert(info.msg);
          location.href = '/admin';
        },
        error: function(data){
          alert('更新失败!');
          location.href = 'error';
        }
      });
    });
  });
</script>

<h3 class=""><%= name %></h3>
<div class="blog-add">
  <input type="text" class="id" value="<%= id %>" style="display: none;">
  <label for="title">标题:<input type="text" id="title" value="<%= oldTitle %>"></label><br/>
  <label for="author">作者:<input type="text" id="author" value="<%= oldAuthor %>"></label><br/>
  <label for="author">标签:<input type="text" id="tags" value="<%= oldTags %>"></label>
  <div class="blog-textarea">
    <textarea name="" class="textarea-add" cols="30" rows="10"><%= oldContent %></textarea>
  </div>
  <p class="blog-action">
    <a class="btn-update" href="javascript:;">更新</a>
  </p>
</div>

</body>

</html>
