<%- include header %>
  <div class="wrapper-left_out">
    <div class="wrapper-left content-anim">
      <ul class="nav ">
        <li><a href="../">首页</a></li>
        <i class="fa fa-angle-right"></i>
        <li><a href="../article">文章</a></li>
        <i class="fa fa-angle-right"></i>
        <li><a href="javascript:;" class="current"><%= name %></a></li>
      </ul>
      <ul class="article-list ">
        <% for( var i = 8 * (p - 1); i< 8 * p ; i++ ){ %>
        <% if(i < size ) { %>
        <li>
          <h3 class="title"><a href="../article/details?articleTitle=<%= datas[i].title %>&articleId=<%= datas[i]._id %>" class="highlight"><%= datas[i].title %></a></h3>
          <small><%= datas[i].date %><span class="prep by">by  <%= datas[i].author %></span><span class="prep">发布在</span><a class="postOn highlight" href="javascript:;"><%= datas[i].category[0] %></a><span class="prep">阅读</span>123次</small>
          <div class="content content_short"><%- datas[i].content %></div>
          <a href="../article/details?articleTitle=<%= datas[i].title %>&articleId=<%= datas[i]._id %>" class="readMore highlight">阅读全文...</a>
          <p class="tag"><i class="fa fa-tag"></i>
            <% datas[i].tags.forEach(function(element){ %>
            <a href="/article/tags?tag=<%= element %>"><%= element %></a>
            <% }) %>
          <p class="comment"><i class="fa fa-comment"></i><a href="/article/details?articleTitle=<%= datas[i].title %>&articleId=<%= datas[i]._id %>">
          <span class="ds-thread-count" data-thread-key="<%= datas[i]._id %>" data-count-type="comments"></span>
        </a></p>
        </li>
        <% } %>
        <% } %>
        <div class="paging-bar">
          <% if( p > 1) { %>
          <a href="/article/category?category=<%= name %>&p=<%- p-1 %>" class="btn-page btn-prev_page">上一页</a>
          <% } %>

          <% if( p > 2) { %>
          <a href="/article/category?category=<%= name %>&p=1" class="btn-page btn-first_page">1</a>
          <% } %>

          <% if( p > 2) { %>
          <span class="points-page">...</span>
          <% } %>

          <a href="/article/category?category=<%= name %>&p=<%- p %>" class="btn-page current-page"><%- p %></a>

          <% if( p < j-1) { %>
          <span class="points-page">...</span>
          <% } %>

          <% if( p < j) { %>
          <a href="/article/category?category=<%= name %>&p=<%- j %>" class="btn-page btn-last_page"><%- j %></a>
          <% } %>

          <% if( j > 2) { %>
          <% if( p < j) { %>
          <a href="/article/category?category=<%= name %>&p=<%- p+1 %>" class="btn-page btn-next_page">下一页</a>
          <% } %>
          <% } %>
        </div>
      </ul>

    </div>
  </div>
<%- include right %>
<!-- 多说js加载开始，一个页面只需要加载一次 -->
<script type="text/javascript">
  var duoshuoQuery = {short_name:"idoris"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
</script>
<!-- 多说js加载结束，一个页面只需要加载一次 -->
<%- include footer %>
