<%- include header %>
  <div class="wrapper-left_out">
    <div class="wrapper-left content-anim">
      <ul class="nav ">
        <li><a href="../">首页</a></li>
        <i class="fa fa-angle-right"></i>
        <li><a href="javascript:;" class="current">文章</a></li>
      </ul>
      <ul class="article-list ">
        <% for( var i = 8 * (p - 1); i< 8 * p ; i++ ){ %>
        <% if(i < size ) { %>
        <li>
          <h3 class="title"><a href="/article/details?articleTitle=<%= content[i].title %>&order=<%- i+1 %>" class="highlight"><%= content[i].title %></a></h3>
        <small><%= content[i].date %><span class="prep by">by  <%= content[i].author %></span><span class="prep">发布在</span><a class="postOn highlight" href="/article/category?category=<%= content[i].category[0] %>"><%= content[i].category[0] %></a><span class="prep">阅读</span>123次</small>
          <div class="content content_short"><%- content[i].content %></div>
          <a href="/article/details?articleTitle=<%= content[i].title %>&order=<%- i+1 %>" class="readMore highlight">阅读全文...</a>
          <p class="tag"><i class="fa fa-tag"></i>
              <% content[i].tags.forEach(function(element){ %>
              <a href=""><%= element %></a>
                          <% }) %>
            <p class="comment"><i class="fa fa-comment"></i><a class="highlight">5条评论&gt;&gt;</a></p>
        </li>
        <% } %>
        <% } %>
        <div class="paging-bar">
          <% if( p > 1) { %>
          <a href="/article/?p=<%- p-1 %>" class="btn-page btn-prev_page">上一页</a>
          <% } %>

          <% if( p > 2) { %>
          <a href="/article/?p=1" class="btn-page btn-first_page">1</a>
          <% } %>

          <% if( p > 2) { %>
          <span class="points-page">...</span>
          <% } %>

          <a href="/article/?p=<%- p %>" class="btn-page current-page"><%- p %></a>

          <% if( p < j-1) { %>
          <span class="points-page">...</span>
          <% } %>

          <% if( p < j) { %>
          <a href="/article/?p=<%- j %>" class="btn-page btn-last_page"><%- j %></a>
          <% } %>

          <% if( j > 2) { %>
          <% if( p < j) { %>
          <a href="/article/?p=<%- p+1 %>" class="btn-page btn-next_page">下一页</a>
          <% } %>
          <% } %>
        </div>
      </ul>
    </div>
  </div>
<%- include right %>
<%- include footer %>