<%- include header %>
  <div class="wrapper-left_out">
    <div class="wrapper-left content-anim">
      <ul class="nav ">
        <li><a href="../">首页</a></li>
        <i class="fa fa-angle-right"></i>
        <li><a href="../article">文章</a></li>
        <i class="fa fa-angle-right"></i>
        <li><a href="javascript:;" class="current"><%= name %></a></li>
      </ul>
      <ul class="article-list ">
        <% for( var col = 0; col< category_search.length; col++ ){ %>
        <li>
          <h3 class="title"><a href="../article/details?articleTitle=<%= category_search[col].title %>&articleId=<%= category_search[col]._id %>" class="highlight"><%= category_search[col].title %></a></h3>
          <small><%= category_search[col].date %><span class="prep by">by  <%= category_search[col].author %></span><span class="prep">发布在</span><a class="postOn highlight" href="javascript:;"><%= category_search[col].category[0] %></a><span class="prep">阅读</span>123次</small>
          <div class="content content_short"><%- category_search[col].content %></div>
          <a href="../article/details?articleTitle=<%= category_search[col].title %>&articleId=<%= category_search[col]._id %>" class="readMore highlight">阅读全文...</a>
          <p class="tag"><i class="fa fa-tag"></i>
            <% category_search[col].tags.forEach(function(element){ %>
            <a href=""><%= element %></a>
            <% }) %>
          <p class="comment"><i class="fa fa-comment"></i><a class="highlight">5条评论&gt;&gt;</a></p>
        </li>
        <% } %>
      </ul>

    </div>
  </div>
<%- include right %>
<%- include footer %>
