<%- include header %>
  <div class="wrapper-left_out">
    <div class="wrapper-left">
      <ul class="nav">
        <li><a href="../">首页</a></li>
        <i class="fa fa-angle-right"></i>
        <li><a href="../article">文章</a></li>
        <i class="fa fa-angle-right"></i>
        <li><a href="javascript:;" class="current"><%= content[order-1].title %></a></li>
      </ul>
      <ul class="article-list">
        <li>
          <h3 class="title"><a href="javascript:;"><%= content[order-1].title %></a></h3>
          <small><%= content[order-1].date %><span class="prep by">by  <%= content[order-1].author %></span><span class="prep">发布在</span><a class="postOn highlight" href="/article/category?category=<%= content[order-1].category[0] %>"><%= content[order-1].category[0] %></a><span class="prep">阅读</span>123次</small>
          <div class="content"><%- content[order-1].content %></div>
          <p class="tag"><i class="fa fa-tag"></i>
            <% content[order-1].tags.forEach(function(element){ %>
            <a href="/article/tags?tag=<%= element %>"><%= element %></a>
            <% }) %>
        </li>
        <div class="ds-share" data-thread-key="<%= content[order-1]._id %>" data-title="<%= content[order-1]._title %>" data-images="" data-content="<%= content[order-1].content %>" data-url="/article/details?articleTitle=<%= content[order-1].title %>&order=<%= order %>">
          <div class="ds-share-inline">
            <ul  class="ds-share-icons-16">

              <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
              <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo">微博</a></li>
              <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone">QQ空间</a></li>
              <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt">腾讯微博</a></li>
              <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat">微信</a></li>

            </ul>
            <!--<div class="ds-share-icons-more">-->
            <!--</div>-->
          </div>
        </div>
        <% if(order > 1){ %>
        <p class="prev_link plink"><i class="fa fa-angle-double-left"></i><a href="/article/details?articleTitle=<%= content[order-2].title %>&order=<%= order-1 %>">上一篇:<%= content[order-2].title %></a></p>
        <% } %>
        <% if(order < size){ %>
        <p class="next_link plink"><a href="/article/details?articleTitle=<%= content[order].title %>&order=<%= order+1 %>">下一篇：<%= content[order].title %></a><i class="fa fa-angle-double-right"></i></p>
        <% } %>
      </ul>
      <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="<%= content[order-1]._id %>" data-title="<%= content[order-1].title %>" data-url="/article/details?articleTitle=<%= content[order-1].title %>&order=<%= order %>"></div>
      <!-- 多说评论框 end -->
      <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
      <script type="text/javascript">
        var duoshuoQuery = {short_name:"idoris"};
        (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0]
          || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
      </script>
      <!-- 多说公共JS代码 end -->
    </div>
  </div>
<%- include right %>
<%- include footer %>