<%- include header %>
  <div class="wrapper-left_out">
    <div class="wrapper-left">
      <ul class="nav">
        <li><a href="../">首页</a></li>
        <i class="fa fa-angle-right"></i>
        <li><a href="../article">文章</a></li>
        <i class="fa fa-angle-right"></i>
        <li><a href="javascript:;" class="current"><%= content[order-1].title %></a></li>
      </ul>
      <ul class="article-list">
        <li>
          <h3 class="title"><a href="javascript:;"><%= content[order-1].title %></a></h3>
          <small><%= content[order-1].date %><span class="prep by">by  <%= content[order-1].author %></span><span class="prep">发布在</span><a class="postOn highlight" href="/article/category?category=<%= content[order-1].category[0] %>"><%= content[order-1].category[0] %></a><span class="prep">阅读</span><%= content[order-1].pv %>次</small>
          <div class="content"><%- content[order-1].content %></div>
          <p class="tag"><i class="fa fa-tag"></i>
            <% content[order-1].tags.forEach(function(element){ %>
            <a href="/article/tags?tag=<%= element %>"><%= element %></a>
            <% }) %>
        </li>
      </ul>
    <div class="plink-box clearfix">
    <% if(order > 1){ %>
    <p class="prev_link plink"><a href="/article/details?articleTitle=<%= content[order-2].title %>&order=<%= order-1 %>"><i class="fa fa-arrow-left"></i><%= content[order-2].title %></a></p>
    <% } %>
    <% if(order < size){ %>
    <p class="next_link plink"><a href="/article/details?articleTitle=<%= content[order].title %>&order=<%= order+1 %>"><%= content[order].title %><i class="fa fa-arrow-right"></i></a></p>
    <% } %>
    </div>
    </div>
  </div>
<%- include right %>
<%- include footer %>