
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    var duoshuoQuery = {short_name:"idoris"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
</div>

<div class="bottom clearfix">
    <ul class="clearfix">
      <li class="latest_comments">
        <a href="javascript:;" class="bottom-title">最新评论 </a>
        <ul class="ds-recent-comments" data-num-items="5" data-excerpt-length="100" data-show-time="1"></ul>
      </li>
      <li class="friends_link">
        <a href="javascript:;" class="bottom-title">博客链接 </a>
        <ul>
            <li><span>记录下这些牛人的链接,一是方便自己浏览,二是向大家推荐一些前端技术大牛.就是这样,喵~</span></li>
            <li><a href="http://www.ipengtao.com">Sitin's blog</a><span> | 创宇牛逼攻城狮!~</span></li>
            <li><a href="http://www.zhangxinxu.com/">张鑫旭</a><span> | 你的技术文章值得通通看一遍</span></li>
            <li><a href="http://www.ruanyifeng.com/">阮一峰</a><span> | 很有名了吧</span></li>
            <li><a href="http://www.liaoxuefeng.com/">廖雪峰</a><span> | js起步就看的你的javascript教程</span></li>
        </ul>
      </li>
    </ul>
</div>
<div class="copyright">
    <hr>
    <p>本网站由<a href="http://www.idoris.me"><strong>Doris</strong></a>纯手工打造 | <a href="http://www.idoris.me/about/#about_me">关于 </a>| <a href="http://www.idoris.me/about/#social_links">联系方式</a>|
        <a href="http://www.idoris.me/about/#leave_message">留言</a></p>
</div>



</body>
</html>
