
</div>

<div class="copyright">
    <hr>
    <p>本网站由<a href="http://www.idoris.me"><strong>Doris</strong></a>纯手工打造 | <a href="http://www.idoris.me/about/#about_me">关于 </a>| <a href="http://www.idoris.me/about/#social_links">联系方式</a>|
        <a href="http://www.idoris.me/about/#links">链接</a></p>
</div>



</body>
</html>
