<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Language" content="zh-CN"/>
  <meta name="Author" content=""/>
  <meta name="keywords" content=""/>
  <meta name="description" content=""/>
  <title><%= title %></title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/custom_article.css"/>
  <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <script type="text/javascript" src="/javascripts/jquery-1.12.0.2.js"></script>
  <script type="text/javascript" src="/javascripts/article.js"></script>
</head>
<body>
<header class="header">
  <!-- fixed nav begin here-->
  <div class="header-mask">
    <div class="header-outside">
      <a class="outwrap mylogo" href="../">
        <img class="img-anim" src="/images/mypic.png" alt="DorisHuang'picture"><br>
        <p class="p-anim">Doris'blog</p>
      </a>
      <div class="word">Stay hungry,keep thinking</div>
      <div class="search">
        <div class="search-inside">
          <i class="fa fa-search"></i>
          <input type="text">
        </div>
      </div>
      <div class="arrow" status="1"><i class="fa fa-angle-up"></i></div>
    </div>
  </div>
</header>
<!--article section begins-->
<div class="wrapper">

