<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Language" content="zh-CN"/>
  <meta name="Author" content="DorisHuang"/>
  <meta name="keywords" content="blog,FrontEndDevelop,Zery"/>
  <meta name="description" content="blog contains articles,pictures and resume"/>
  <title>DorisBlog</title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
  <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<body>
  <header id="header">
    <!--background setting here-->
    <div class="bg filterWhite" data-bottom="opacity:1;transform:translateY(jj0%)" data-top-bottom="opacity:0.6;transform:translateY(-30%);">
      <span></span><span></span><span></span>
    </div>

    <!--author' brief introduction here-->
    <div class="info" data-top-bottom="opacity:0;transform:translateY(10%)" data--320-bottom="opacity:1;transform: translateY(-50%);">
      <h1>Hello,I'm DorisHuang</h1>
      <h3>Front-end developer,once the manager in Ole' of HuaRun</h3>
      <p>Born in 1991,educated from DongHua University.Once the department manager in Ole' of HuaRun. Master the skills of
      <i>CSS3,HTML5</i>.Be able to code with <i>javascript</i>.Be familer with <i>jQuery and bootstrap</i>
      Love coding with <i>Mac and Linux</i>.Have imitated some static pages and completed my blog personally.</p>
    </div>
  </header>
  <!-- fixed nav begin here-->
  <div class="outwrap mylogo">
    <a href="#" class="blackA">
      <img src="  images/mypic.png" class="blackB" alt="DorisHuang'picture"><br>
      <p>Doris'blog</p>
    </a>

  </div>
  <nav>
    <i class="fa fa-lightbulb-o blackA" aria-hidden="true"></i>
    <a href="#" class="menubarH">
      <span class="blackB"></span>
      <span class="blackB"></span>
      <span class="blackB"></span>
      <span class="blackB"></span>
    </a>
    <ul class="content-nav">
      <li><a class="blackA" href="javascript:;">首页 |</a></li>
      <li><a class="blackA" href="/article">文章 |</a></li>
      <li><a class="blackA" href="#photo-section">照片 |</a></li>
      <li><a class="blackA" href="">留言 |</a></li>
    </ul>
  </nav>
  <!--article section begins-->
  <div class="wrapper odd-section" id="article-section">
        <div class="section-logo blackA"><i class="fa fa-columns"></i>My Articles</div>
        <ul data-bottom-top="opacity:0;transform:scale(2);" data-500-bottom="opacity:0.8;transform:scale(1);">
      <li data-bottom-top="transform:translateX(-30%)" data-bottom="transform:translateX(0%);">
        <div class="inside" >
          <h3 class="title">git常用命令</h3>
          <small><span class="time-data">2016-11-28</span><span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          <div class="content-data">
            <p>git 是一个强大的版本管理工具，因为它的出现，世界上增添了多少无数充满激情的项目，下面是它一些基本的用法。
            </p>
            <p>
              <b>ubuntu下安装初始化</b><br>
              1. sudo apt-get install git<br>
              2. mkdir demo（新建项目）<br>
              3. cd demo<br>
              4. git init (初始化 git 仓库)<br>
            </p>
            <p>一个空的版本库就创建好了，当前目录有一个叫 .git 的子目录。</p>
            <p>
              <b>接下来向版本库中添加文件</b><br>
              1. touch README<br>
              2. git status （用来查看仓库状态）<br>
              3. git add  .  (将当前目录添加到 git 仓库中)<br>
              4. git commit -m "Initial commit"(向版本库提交变化)<br>
            </p>
          </div>
          <a href="#" class="readMore">阅读全文...</a>
          <p class="tag"><i class="fa fa-tag"></i><a href="">git命令</a>,<a>Linux</a>
          <p class="comment-num"><i class="fa fa-comment"></i><a>5条评论&gt;&gt;</a></p>
        </div>
      </li>
      <li  data-bottom-top="transform:translateX(-10%)" data-bottom="transform:translateX(0%);">
        <div class="inside">
          <h3 class="title">git常用命令</h3>
          <small><span class="time-data">2016-11-28</span><span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          <div class="content-data">
            <p>git 是一个强大的版本管理工具，因为它的出现，世界上增添了多少无数充满激情的项目，下面是它一些基本的用法。
            </p>
            <p>
              <b>ubuntu下安装初始化</b><br>
              1. sudo apt-get install git<br>
              2. mkdir demo（新建项目）<br>
              3. cd demo<br>
              4. git init (初始化 git 仓库)<br>
            </p>
            <p>一个空的版本库就创建好了，当前目录有一个叫 .git 的子目录。</p>
            <p>
              <b>接下来向版本库中添加文件</b><br>
              1. touch README<br>
              2. git status （用来查看仓库状态）<br>
              3. git add  .  (将当前目录添加到 git 仓库中)<br>
              4. git commit -m "Initial commit"(向版本库提交变化)<br>
            </p>
          </div>
          <a href="#" class="readMore">阅读全文...</a>
          <p class="tag"><i class="fa fa-tag"></i><a href="">git命令</a>,<a>Linux</a>
          <p class="comment-num"><i class="fa fa-comment"></i><a>5条评论&gt;&gt;</a></p>
        </div>

      </li>
      <li data-bottom-top="transform:translateX(10%)" data-bottom="transform:translateX(0%);">
        <div class="inside">
          <h3 class="title">git常用命令</h3>
          <small><span class="time-data">2016-11-28</span><span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          <div class="content-data">
            <p>git 是一个强大的版本管理工具，因为它的出现，世界上增添了多少无数充满激情的项目，下面是它一些基本的用法。
            </p>
            <p>
              <b>ubuntu下安装初始化</b><br>
              1. sudo apt-get install git<br>
              2. mkdir demo（新建项目）<br>
              3. cd demo<br>
              4. git init (初始化 git 仓库)<br>
            </p>
            <p>一个空的版本库就创建好了，当前目录有一个叫 .git 的子目录。</p>
            <p>
              <b>接下来向版本库中添加文件</b><br>
              1. touch README<br>
              2. git status （用来查看仓库状态）<br>
              3. git add  .  (将当前目录添加到 git 仓库中)<br>
              4. git commit -m "Initial commit"(向版本库提交变化)<br>
            </p>
          </div>
          <a href="#" class="readMore">阅读全文...</a>
          <p class="tag"><i class="fa fa-tag"></i><a href="">git命令</a>,<a>Linux</a>
          <p class="comment-num"><i class="fa fa-comment"></i><a>5条评论&gt;&gt;</a></p>
        </div>
      </li>
      <li data-bottom-top="transform:translateX(30%)" data-bottom="transform:translateX(0%);">
        <div class="inside">
          <h3 class="title">git常用命令</h3>
          <small><span class="time-data">2016-11-28</span><span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          <div class="content-data">
            <p>git 是一个强大的版本管理工具，因为它的出现，世界上增添了多少无数充满激情的项目，下面是它一些基本的用法。
            </p>
            <p>
              <b>ubuntu下安装初始化</b><br>
              1. sudo apt-get install git<br>
              2. mkdir demo（新建项目）<br>
              3. cd demo<br>
              4. git init (初始化 git 仓库)<br>
            </p>
            <p>一个空的版本库就创建好了，当前目录有一个叫 .git 的子目录。</p>
            <p>
              <b>接下来向版本库中添加文件</b><br>
              1. touch README<br>
              2. git status （用来查看仓库状态）<br>
              3. git add  .  (将当前目录添加到 git 仓库中)<br>
              4. git commit -m "Initial commit"(向版本库提交变化)<br>
            </p>
          </div>
          <a href="#" class="readMore">阅读全文...</a>
          <p class="tag"><i class="fa fa-tag"></i><a href="">git命令</a>,<a>Linux</a>
          <p class="comment-num"><i class="fa fa-comment"></i><a>5条评论&gt;&gt;</a></p>
        </div>
      </li>
      <li>
        <div class="inside">
          <h3 class="title">git常用命令</h3>
          <small><span class="time-data">2016-11-28</span><span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          <div class="content-data">
            <p>git 是一个强大的版本管理工具，因为它的出现，世界上增添了多少无数充满激情的项目，下面是它一些基本的用法。
            </p>
            <p>
              <b>ubuntu下安装初始化</b><br>
              1. sudo apt-get install git<br>
              2. mkdir demo（新建项目）<br>
              3. cd demo<br>
              4. git init (初始化 git 仓库)<br>
            </p>
            <p>一个空的版本库就创建好了，当前目录有一个叫 .git 的子目录。</p>
            <p>
              <b>接下来向版本库中添加文件</b><br>
              1. touch README<br>
              2. git status （用来查看仓库状态）<br>
              3. git add  .  (将当前目录添加到 git 仓库中)<br>
              4. git commit -m "Initial commit"(向版本库提交变化)<br>
            </p>
          </div>
          <a href="#" class="readMore">阅读全文...</a>
          <p class="tag"><i class="fa fa-tag"></i><a href="">git命令</a>,<a>Linux</a>
          <p class="comment-num"><i class="fa fa-comment"></i><a>5条评论&gt;&gt;</a></p>
        </div>
      </li>
      <li>
        <div class="inside">
          <h3 class="title">git常用命令</h3>
          <small><span class="time-data">2016-11-28</span><span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          <div class="content-data">
            <p>git 是一个强大的版本管理工具，因为它的出现，世界上增添了多少无数充满激情的项目，下面是它一些基本的用法。
            </p>
            <p>
              <b>ubuntu下安装初始化</b><br>
              1. sudo apt-get install git<br>
              2. mkdir demo（新建项目）<br>
              3. cd demo<br>
              4. git init (初始化 git 仓库)<br>
            </p>
            <p>一个空的版本库就创建好了，当前目录有一个叫 .git 的子目录。</p>
            <p>
              <b>接下来向版本库中添加文件</b><br>
              1. touch README<br>
              2. git status （用来查看仓库状态）<br>
              3. git add  .  (将当前目录添加到 git 仓库中)<br>
              4. git commit -m "Initial commit"(向版本库提交变化)<br>
            </p>
          </div>
          <a href="#" class="readMore">阅读全文...</a>
          <p class="tag"><i class="fa fa-tag"></i><a href="">git命令</a>,<a>Linux</a>
          <p class="comment-num"><i class="fa fa-comment"></i><a>5条评论&gt;&gt;</a></p>
        </div>
      </li>
      <li>
        <div class="inside">
          <h3 class="title">git常用命令</h3>
          <small><span class="time-data">2016-11-28</span><span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          <div class="content-data">
            <p>git 是一个强大的版本管理工具，因为它的出现，世界上增添了多少无数充满激情的项目，下面是它一些基本的用法。
            </p>
            <p>
              <b>ubuntu下安装初始化</b><br>
              1. sudo apt-get install git<br>
              2. mkdir demo（新建项目）<br>
              3. cd demo<br>
              4. git init (初始化 git 仓库)<br>
            </p>
            <p>一个空的版本库就创建好了，当前目录有一个叫 .git 的子目录。</p>
            <p>
              <b>接下来向版本库中添加文件</b><br>
              1. touch README<br>
              2. git status （用来查看仓库状态）<br>
              3. git add  .  (将当前目录添加到 git 仓库中)<br>
              4. git commit -m "Initial commit"(向版本库提交变化)<br>
            </p>
          </div>
          <a href="#" class="readMore">阅读全文...</a>
          <p class="tag"><i class="fa fa-tag"></i><a href="">git命令</a>,<a>Linux</a>
          <p class="comment-num"><i class="fa fa-comment"></i><a>5条评论&gt;&gt;</a></p>
        </div>
      </li>
      <li>
        <div class="inside">
          <h3 class="title">git常用命令</h3>
          <small><span class="time-data">2016-11-28</span><span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          <div class="content-data">
            <p>git 是一个强大的版本管理工具，因为它的出现，世界上增添了多少无数充满激情的项目，下面是它一些基本的用法。
            </p>
            <p>
              <b>ubuntu下安装初始化</b><br>
              1. sudo apt-get install git<br>
              2. mkdir demo（新建项目）<br>
              3. cd demo<br>
              4. git init (初始化 git 仓库)<br>
            </p>
            <p>一个空的版本库就创建好了，当前目录有一个叫 .git 的子目录。</p>
            <p>
              <b>接下来向版本库中添加文件</b><br>
              1. touch README<br>
              2. git status （用来查看仓库状态）<br>
              3. git add  .  (将当前目录添加到 git 仓库中)<br>
              4. git commit -m "Initial commit"(向版本库提交变化)<br>
            </p>
          </div>
          <a href="#" class="readMore">阅读全文...</a>
          <p class="tag"><i class="fa fa-tag"></i><a href="">git命令</a>,<a>Linux</a>
          <p class="comment-num"><i class="fa fa-comment"></i><a>5条评论&gt;&gt;</a></p>
        </div>
      </li>
      <li>
        <div class="inside">
          <h3 class="title">git常用命令</h3>
          <small><span class="time-data">2016-11-28</span><span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          <div class="content-data">
            <p>git 是一个强大的版本管理工具，因为它的出现，世界上增添了多少无数充满激情的项目，下面是它一些基本的用法。
            </p>
            <p>
              <b>ubuntu下安装初始化</b><br>
              1. sudo apt-get install git<br>
              2. mkdir demo（新建项目）<br>
              3. cd demo<br>
              4. git init (初始化 git 仓库)<br>
            </p>
            <p>一个空的版本库就创建好了，当前目录有一个叫 .git 的子目录。</p>
            <p>
              <b>接下来向版本库中添加文件</b><br>
              1. touch README<br>
              2. git status （用来查看仓库状态）<br>
              3. git add  .  (将当前目录添加到 git 仓库中)<br>
              4. git commit -m "Initial commit"(向版本库提交变化)<br>
            </p>
          </div>
          <a href="#" class="readMore">阅读全文...</a>
          <p class="tag"><i class="fa fa-tag"></i><a href="">git命令</a>,<a>Linux</a>
          <p class="comment-num"><i class="fa fa-comment"></i><a>5条评论&gt;&gt;</a></p>
        </div>
      </li>
    </ul>
    <a href="" class="more">More Articles&gt;&gt;</a>
  </div>
  <!--picture section begins-->
  <div class="wrapper even-section" id="photo-section">
    <div class="section-logo"><i class="fa fa-picture-o"></i>My Pictures</div>
    <ul data-bottom-top="opacity:0;transform:scale(2);" data-500-bottom="opacity:0.8;transform:scale(1);">
      <li data-bottom-top="transform:translateX(-30%)" data-bottom="transform:translateX(0%);">
        <div class="inside">
          <div class="img-box"><img src="  images/010.jpg" alt=""></div>
          <div class="mask-info">
            <p class="name"><a href="#">Zery</a></p>
            <p class="img-info">刚出生的Zery</p>
            <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          </div>
        </div>
      </li>
      <li data-bottom-top="transform:translateX(-10%)" data-bottom="transform:translateX(0%);">
        <div class="inside">
          <div class="img-box"><img src="  images/012.jpg" alt=""></div>
          <div class="mask-info">
            <p class="name"><a href="#">Zery</a></p>
            <p class="img-info">当Zery会走路了,一切都更加精彩了</p>
            <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          </div>
        </div>
      </li>
      <li data-bottom-top="transform:translateX(10%)" data-bottom="transform:translateX(0%);">
        <div class="inside">
          <div class="img-box"><img src="  images/014.jpg" alt=""></div>
          <div class="mask-info">
            <p class="name"><a href="#">Zery</a></p>
            <p class="img-info">当Zery会走路了,一切都更加精彩了</p>
            <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          </div>
        </div>
      </li>
      <li data-bottom-top="transform:translateX(30%)" data-bottom="transform:translateX(0%);">
        <div class="inside">
          <div class="img-box"><img src="  images/107.jpg" alt=""></div>
          <div class="mask-info">
            <p class="name"><a href="#">Sitin</a></p>
            <p class="img-info">你那么美╮(╯_╰)╭</p>
            <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          </div>
        </div>
      </li>
      <li>
        <div class="inside">
          <div class="img-box"><img src="  images/016.jpg" alt=""></div>
          <div class="mask-info">
            <p class="name"><a href="#">Zery</a></p>
            <p class="img-info">当Zery会走路了,一切都更加精彩了</p>
            <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          </div>
        </div>
      </li>
      <li>
        <div class="inside">
          <div class="img-box"><img src="  images/101.jpg" alt=""></div>
          <div class="mask-info">
            <p class="name"><a href="#">Doris</a></p>
            <p class="img-info">自贡灯会</p>
            <small><time  datetime="2014-12-02"></time> 2014-12-02<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          </div>
        </div>
      </li>
      <li>
        <div class="inside">
          <div class="img-box"><img src="  images/102.jpg" alt=""></div>
          <div class="mask-info">
            <p class="name"><a href="#">Doris</a></p>
            <p class="img-info">大三在上海耐施诺实习</p>
            <small><time  datetime="2014-3-06"></time> 2014-3-06<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          </div>
        </div>
      </li>
      <li>
        <div class="inside">
          <div class="img-box">
            <img src="  images/114.jpg" alt="">
          </div>
          <div class="mask-info">
            <p class="name"><a href="#">Home</a></p>
            <p class="img-info">亲手布置的家庭办公室</p>
            <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
          </div>
        </div>
      </li>
    </ul>
    <a href="" class="more">More Pictures&gt;&gt;</a>
    <!--picture viewer begins-->
    <div class="album-outside">
      <div class="imgs-box">
        <!--imgs-box includes btns,times-circle,and imgs-frame-->
        <ul class="imgs">
            <li>
              <div class="inside">
                <div class="img-box"><img src="images/010.jpg" alt=""></div>
                <div class="mask-info">
                  <p class="name"><a href="#">Zery</a></p>
                  <p class="img-info">刚出生的Zery</p>
                  <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
                </div>
              </div>
            </li>
            <li>
              <div class="inside">
                <div class="img-box"><img src="  images/012.jpg" alt=""></div>
                <div class="mask-info">
                  <p class="name"><a href="#">Zery</a></p>
                  <p class="img-info">当Zery会走路了,一切都更加精彩了</p>
                  <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
                </div>
              </div>
            </li>
            <li>
              <div class="inside">
                <div class="img-box"><img src="  images/014.jpg" alt=""></div>
                <div class="mask-info">
                  <p class="name"><a href="#">Zery</a></p>
                  <p class="img-info">当Zery会走路了,一切都更加精彩了</p>
                  <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
                </div>
              </div>
            </li>
            <li>
              <div class="inside">
                <div class="img-box"><img src="  images/107.jpg" alt=""></div>
                <div class="mask-info">
                  <p class="name"><a href="#">Sitin</a></p>
                  <p class="img-info">你那么美╮(╯_╰)╭</p>
                  <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
                </div>
              </div>
            </li>
            <li>
              <div class="inside">
                <div class="img-box"><img src="  images/016.jpg" alt=""></div>
                <div class="mask-info">
                  <p class="name"><a href="#">Zery</a></p>
                  <p class="img-info">当Zery会走路了,一切都更加精彩了</p>
                  <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
                </div>
              </div>
            </li>
            <li>
              <div class="inside">
                <div class="img-box"><img src="  images/101.jpg" alt=""></div>
                <div class="mask-info">
                  <p class="name"><a href="#">Doris</a></p>
                  <p class="img-info">自贡灯会</p>
                  <small><time  datetime="2014-12-02"></time> 2014-12-02<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
                </div>
              </div>
            </li>
            <li>
              <div class="inside">
                <div class="img-box"><img src="  images/102.jpg" alt=""></div>
                <div class="mask-info">
                  <p class="name"><a href="#">Doris</a></p>
                  <p class="img-info">大三在上海耐施诺实习</p>
                  <small><time  datetime="2014-3-06"></time> 2014-3-06<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
                </div>
              </div>
            </li>
            <li>
              <div class="inside">
                <div class="img-box">
                  <img src="  images/114.jpg" alt="">
                </div>
                <div class="mask-info">
                  <p class="name"><a href="#">Home</a></p>
                  <p class="img-info">亲手布置的家庭办公室</p>
                  <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
                </div>
              </div>
            </li>
          <li>
            <div class="inside">
              <div class="img-box">
                <img src="  images/117.jpg" alt="">
              </div>
              <div class="mask-info">
                <p class="name"><a href="#">Home</a></p>
                <p class="img-info">亲手布置的家庭办公室</p>
                <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
              </div>
            </div>
          </li>
          </ul>
        <i class="fa fa-times-circle"></i>
        <span class="btn prev">&lt;</span>
        <span class="btn next">&gt;</span>
        <div class="prompt prompt-firstpic">这已经是第一张图片,继续点击将返回最后一张</div>
        <div class="prompt prompt-lastpic">这已经是最后一张图片,继续点击将返回第一张</div>
        <div class="position-info">
          <i class="fa fa-arrow-circle-o-right goto"></i>
          <input type="text" class="num"><span class="totlepages"></span>
          <p class="warn"></p>
        </div>
      </div>
    </div>
  </div>
  <div id="messages" class="wrapper odd-section">
    <div class="section-logo"><i class="fa fa-comments-o"></i>Leave a Message</div>
  </div>
  <!--<script type="text/javascript" src="../source/skrollr.stylesheets.min.js"></script>-->
<script type="text/javascript" src="javascripts/skrollr.js"></script>
  <script>
    var s = skrollr.init();
  </script>
  <script type="text/javascript" src="/javascripts/jquery-1.12.0.2.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>