<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Language" content="zh-CN"/>
  <meta name="Author" content="DorisHuang"/>
  <meta name="keywords" content="blog,FrontEndDevelop,Zery"/>
  <meta name="description" content="blog contains articles,pictures and resume"/>
  <title>DorisBlog</title>
  <link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
  <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
<body>
  <header id="header">
    <!--background setting here-->
    <div class="bg filterWhite" data-bottom="opacity:1;transform:translateY(30%)" data-top-bottom="opacity:0.6;transform:translateY(-30%);">
      <span></span><span></span><span></span>
    </div>

    <!--author' brief introduction here-->
    <div class="info" data-top-bottom="opacity:0;transform:translateY(10%)" data--320-bottom="opacity:1;transform: translateY(-50%);">
      <h1>Hello,I'm DorisHuang</h1>
      <h3>Front-end developer,once the manager in Ole' of HuaRun</h3>
      <p>Born in 1991,educated from DongHua University.Once the department manager in Ole' of HuaRun. Master the skills of
      <i>CSS3,HTML5</i>.Be able to code with <i>javascript</i>.Be familer with <i>jQuery and bootstrap</i>
      Love coding with <i>Mac and Linux</i>.Have imitated some static pages and completed my blog personally.</p>
    </div>
  </header>
  <!-- fixed nav begin here-->
  <div class="outwrap mylogo">
    <a href="#" class="blackA">
      <img src="http://olxm3tby9.bkt.clouddn.com/mypic.png" class="blackB" alt="DorisHuang'picture"><br>
      <p>Doris'blog</p>
    </a>

  </div>
  <nav>
    <i class="fa fa-lightbulb-o blackA" aria-hidden="true"></i>
    <a href="#" class="menubarH">
      <span class="blackB"></span>
      <span class="blackB"></span>
      <span class="blackB"></span>
      <span class="blackB"></span>
    </a>
    <ul class="content-nav">
      <li><a class="blackA" href="javascript:;">首页 |</a></li>
      <li><a class="blackA" href="/article">文章 |</a></li>
      <li><a class="blackA" href="/picture">照片 |</a></li>
      <li><a class="blackA" href="/about#leave_message">留言 |</a></li>
    </ul>
  </nav>



  <script type="text/javascript" src="//cdn.bootcss.com/jquery/1.12.0/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>