<%- include header %>
<div class="wrapper-left_out">
  <div class="wrapper-left content-anim">
    <ul class="nav ">
      <li><a href="../">首页</a></li>
      <i class="fa fa-angle-right"></i>
      <li><a href="javascript:;" class="current">图片</a></li>
    </ul>
  </div>
</div>
  <ul class="picture-list clearfix">
    <li data-top-top="opacity:0.6;" data--50-top="opacity:0.4;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box"><img src="  images/010.jpg" alt=""></div>
        <div class="mask-info">
          <p class="name"><a href="#">Zery</a></p>
          <span class="line"></span>
          <p class="img-info">刚出生的Zery</p>
          <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data--50-top="opacity:0.4;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box"><img src="  images/012.jpg" alt=""></div>
        <div class="mask-info">
          <p class="name"><a href="#">Zery</a></p>
          <span class="line"></span>
          <p class="img-info">当Zery会走路了,一切都更加精彩了</p>
          <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data--50-top="opacity:0.4;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box"><img src="  images/014.jpg" alt=""></div>
        <div class="mask-info">
          <p class="name"><a href="#">Zery</a></p>
          <span class="line"></span>
          <p class="img-info">当Zery会走路了,一切都更加精彩了</p>
          <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data--50-top="opacity:0.4;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box"><img src="  images/107.jpg" alt=""></div>
        <div class="mask-info">
          <p class="name"><a href="#">Sitin</a></p>
          <span class="line"></span>
          <p class="img-info">你那么美╮(╯_╰)╭</p>
          <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
      <li data-top-top="opacity:0.6;" data--50-top="opacity:0.4;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box"><img src="  images/016.jpg" alt=""></div>
        <div class="mask-info">
          <p class="name"><a href="#">Zery</a></p>
          <span class="line"></span>
          <p class="img-info">当Zery会走路了,一切都更加精彩了</p>
          <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data--50-top="opacity:0.4;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box"><img src="  images/101.jpg" alt=""></div>
        <div class="mask-info">
          <p class="name"><a href="#">Doris</a></p>
          <span class="line"></span>
          <p class="img-info">自贡灯会</p>
          <small><time  datetime="2014-12-02"></time> 2014-12-02<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data--50-top="opacity:0.4;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box"><img src="  images/102.jpg" alt=""></div>
        <div class="mask-info">
          <p class="name"><a href="#">Doris</a></p>
          <span class="line"></span>
          <p class="img-info">大三在上海耐施诺实习</p>
          <small><time  datetime="2014-3-06"></time> 2014-3-06<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data--50-top="opacity:0.4;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box">
          <img src="  images/114.jpg" alt="">
        </div>
        <div class="mask-info">
          <p class="name"><a href="#">Home</a></p>
          <span class="line"></span>
          <p class="img-info">亲手布置的家庭办公室</p>
          <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data--50-top="opacity:0.4;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box"><img src="  images/102.jpg" alt=""></div>
        <div class="mask-info">
          <p class="name"><a href="#">Doris</a></p>
          <span class="line"></span>
          <p class="img-info">大三在上海耐施诺实习</p>
          <small><time  datetime="2014-3-06"></time> 2014-3-06<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data--50-top="opacity:0.4;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box">
          <img src="  images/114.jpg" alt="">
        </div>
        <div class="mask-info">
          <p class="name"><a href="#">Home</a></p>
          <span class="line"></span>
          <p class="img-info">亲手布置的家庭办公室</p>
          <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data--50-top="opacity:0.4;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box"><img src="  images/102.jpg" alt=""></div>
        <div class="mask-info">
          <p class="name"><a href="#">Doris</a></p>
          <span class="line"></span>
          <p class="img-info">大三在上海耐施诺实习</p>
          <small><time  datetime="2014-3-06"></time> 2014-3-06<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box">
          <img src="  images/114.jpg" alt="">
        </div>
        <div class="mask-info">
          <p class="name"><a href="#">Home</a></p>
          <span class="line"></span>
          <p class="img-info">亲手布置的家庭办公室</p>
          <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box"><img src="  images/102.jpg" alt=""></div>
        <div class="mask-info">
          <p class="name"><a href="#">Doris</a></p>
          <span class="line"></span>
          <p class="img-info">大三在上海耐施诺实习</p>
          <small><time  datetime="2014-3-06"></time> 2014-3-06<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box">
          <img src="  images/114.jpg" alt="">
        </div>
        <div class="mask-info">
          <p class="name"><a href="#">Home</a></p>
          <span class="line"></span>
          <p class="img-info">亲手布置的家庭办公室</p>
          <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box"><img src="  images/102.jpg" alt=""></div>
        <div class="mask-info">
          <p class="name"><a href="#">Doris</a></p>
          <span class="line"></span>
          <p class="img-info">大三在上海耐施诺实习</p>
          <small><time  datetime="2014-3-06"></time> 2014-3-06<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box">
          <img src="  images/114.jpg" alt="">
        </div>
        <div class="mask-info">
          <p class="name"><a href="#">Home</a></p>
          <span class="line"></span>
          <p class="img-info">亲手布置的家庭办公室</p>
          <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box"><img src="  images/102.jpg" alt=""></div>
        <div class="mask-info">
          <p class="name"><a href="#">Doris</a></p>
          <span class="line"></span>
          <p class="img-info">大三在上海耐施诺实习</p>
          <small><time  datetime="2014-3-06"></time> 2014-3-06<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
    <li data-top-top="opacity:0.6;" data-100-top="opacity:1;">
      <div class="inside">
        <div class="img-box">
          <img src="  images/114.jpg" alt="">
        </div>
        <div class="mask-info">
          <p class="name"><a href="#">Home</a></p>
          <span class="line"></span>
          <p class="img-info">亲手布置的家庭办公室</p>
          <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
        </div>
      </div>
    </li>
  </ul>
  <!--picture viewer begins-->
  <div class="album-outside">
    <div class="imgs-box">
      <!--imgs-box includes btns,times-circle,and imgs-frame-->
      <ul class="imgs">
        <li>
          <div class="inside">
            <div class="img-box"><img src="images/010.jpg" alt=""></div>
            <div class="mask-info">
              <p class="name"><a href="#">Zery</a></p>
              <span class="line"></span>
              <p class="img-info">刚出生的Zery</p>
              <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
            </div>
          </div>
        </li>
        <li>
          <div class="inside">
            <div class="img-box"><img src="  images/012.jpg" alt=""></div>
            <div class="mask-info">
              <p class="name"><a href="#">Zery</a></p>
              <span class="line"></span>
              <p class="img-info">当Zery会走路了,一切都更加精彩了</p>
              <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
            </div>
          </div>
        </li>
        <li>
          <div class="inside">
            <div class="img-box"><img src="  images/014.jpg" alt=""></div>
            <div class="mask-info">
              <p class="name"><a href="#">Zery</a></p>
              <span class="line"></span>
              <p class="img-info">当Zery会走路了,一切都更加精彩了</p>
              <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
            </div>
          </div>
        </li>
        <li>
          <div class="inside">
            <div class="img-box"><img src="  images/107.jpg" alt=""></div>
            <div class="mask-info">
              <p class="name"><a href="#">Sitin</a></p>
              <span class="line"></span>
              <p class="img-info">你那么美╮(╯_╰)╭</p>
              <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
            </div>
          </div>
        </li>
        <li>
          <div class="inside">
            <div class="img-box"><img src="  images/016.jpg" alt=""></div>
            <div class="mask-info">
              <p class="name"><a href="#">Zery</a></p>
              <span class="line"></span>
              <p class="img-info">当Zery会走路了,一切都更加精彩了</p>
              <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
            </div>
          </div>
        </li>
        <li>
          <div class="inside">
            <div class="img-box"><img src="  images/101.jpg" alt=""></div>
            <div class="mask-info">
              <p class="name"><a href="#">Doris</a></p>
              <span class="line"></span>
              <p class="img-info">自贡灯会</p>
              <small><time  datetime="2014-12-02"></time> 2014-12-02<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
            </div>
          </div>
        </li>
        <li>
          <div class="inside">
            <div class="img-box"><img src="  images/102.jpg" alt=""></div>
            <div class="mask-info">
              <p class="name"><a href="#">Doris</a></p>
              <span class="line"></span>
              <p class="img-info">大三在上海耐施诺实习</p>
              <small><time  datetime="2014-3-06"></time> 2014-3-06<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
            </div>
          </div>
        </li>
        <li>
          <div class="inside">
            <div class="img-box">
              <img src="  images/114.jpg" alt="">
            </div>
            <div class="mask-info">
              <p class="name"><a href="#">Home</a></p>
              <span class="line"></span>
              <p class="img-info">亲手布置的家庭办公室</p>
              <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
            </div>
          </div>
        </li>
        <li>
          <div class="inside">
            <div class="img-box">
              <img src="  images/117.jpg" alt="">
            </div>
            <div class="mask-info">
              <p class="name"><a href="#">Home</a></p>
              <span class="line"></span>
              <p class="img-info">亲手布置的家庭办公室</p>
              <small><time  datetime="2016-12-02"></time> 2016-11-28<span style="margin: 0 6px">by</span><span class="author-data">Doris</span></small>
            </div>
          </div>
        </li>
      </ul>
      <i class="fa fa-times-circle"></i>
      <span class="btn prev">&lt;</span>
      <span class="btn next">&gt;</span>
      <div class="prompt prompt-firstpic">这已经是第一张图片,继续点击将返回最后一张</div>
      <div class="prompt prompt-lastpic">这已经是最后一张图片,继续点击将返回第一张</div>
      <div class="position-info">
        <i class="fa fa-arrow-circle-o-right goto"></i>
        <input type="text" class="num"><span class="totlepages"></span>
        <p class="warn"></p>
      </div>
    </div>
  </div>

<!--<script type="text/javascript" src="../source/skrollr.stylesheets.min.js"></script>-->
<script type="text/javascript" src="javascripts/skrollr.js"></script>
<script>
  var s = skrollr.init();
</script>
<script type="text/javascript" src="javascripts/picture.js"></script>

</div>
<div class="copyright_picPage">
  <hr>
  <p>Designed by <a href="http://www.idoris.me">HuangXia</a>
    Copyright© 2017-2019 Doris'blog
    <a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=mmpzYWtYTp31LnQnydsQSpQpQ47T1yqplHFyqHSLL2RscqJ8wbjh!833351966">鄂ICP备09015569号</a></p>
</div>
</body>
</html>











