.info{
    -skrollr-animation-name: animation1;
}
@-skrollr-keyframes animation1{
    top-bottom {
    opacity: 0;
    transform: translateY(10%);
}
    -320-bottom{
    opacity: 1;
    transform: translateY(-50%)
}

}